header{
    background-color: #74C69D;
    width: 100%;
    padding: 32px 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .menu .menu--nav .menu--list{
    list-style-type: none;
    display: flex;
    gap: 30px;
}
header .menu .menu--nav .menu--list .menu--item .menu--link{
    color: #FFF;
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}
header #open-menu{
    display: none;
}
header #close-menu{
    display: none;
}
.bener{
    background-color: #74C69D;
    padding: 5px 92px 40px;
    display: flex;
    column-gap: 120px;
    width: 100%;
    align-items: flex-start;
    
}
.bener .text--baner{
    flex: 2;
}
.bener .img{
    flex: 3;
}
.bener .img svg{
    width: 100%;
}
.sub-title{
    color: var(--Text_White, #FFF);
font-feature-settings: 'clig' off, 'liga' off;
/* Typography / Label / Bold */
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 125%; /* 20px */
letter-spacing: 5px;
text-transform: uppercase;
}
.title{
    color: var(--Text_White, #FFF);
font-feature-settings: 'clig' off, 'liga' off;

/* Typography/Heading/Bold 1 */
font-family: Crimson Text;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 125%; /* 50px */
}
.prag{
color: var(--Color-White-75, rgba(255, 255, 255, 0.75));
font-feature-settings: 'clig' off, 'liga' off;
padding: 16px 0;
/* Typography/Body/Regular */
font-family: Work Sans;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 18.75px */
}
.link{
color: #000;
display: inline-flex;
text-align: center;
align-items: center;
justify-content: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
width: 155px;
height: 48px;
border-radius: 5px;
background: #FFF;
text-decoration: none;
}
.flex-ninja{
    margin-top: 60px;
    margin-bottom: 73px;
}
.flex-ninja .mini-title{
color:#74C69D;
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
letter-spacing: 5px;
text-transform: uppercase;
}
.flex-ninja .ghod-title{
color: var(--Text_Black, #000);
text-align: center;
padding: 16px 0;
font-feature-settings: 'clig' off, 'liga' off;
/* Typography/Heading/Bold 1 */
font-family: Crimson Text;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 125%; /* 50px */
}
.flex-ninja .perag{
width: 40%;
margin: 0 auto;
color: #000;
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
/* Typography/Sub-Heading/Regular */
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 25px */
}
.gooli{
display: flex;
column-gap: 68px;
justify-content: center;
padding: 45px 0; 
}
.links{
    color: white;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    width: 155px;
    height: 48px;
    border-radius: 5px;
    background: #212529;
    text-decoration: none;
}
.bener2{
    display: flex;
    width: 1180px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 100px;
    flex-flow: row-reverse;
    margin-bottom: 73px;
    padding: 0 50px;
}
.bener3{
    display: flex;
    width: 1180px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 100px;
    flex-flow: row-reverse;
    margin-bottom: 73px;
    padding: 0 50px;
}
.text--bener2{
    display: flex;
flex-direction: column;
align-items: center;
gap: 16px;
width: 470px;
height: 255px;
}
.text--baner2 .title2{
        color: var(--Color-Dark-100, #212529);
font-feature-settings: 'clig' off, 'liga' off;
/* Typography/Heading/Bold 1 */
font-family: Crimson Text;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 125%; /* 50px */
}
.text--baner2 .prag2{
    color: var(--Color-Dark-50, rgba(33, 37, 41, 0.50));
font-feature-settings: 'clig' off, 'liga' off;
/* Typography/Body/Regular */
font-family: Work Sans;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 18.75px */
padding: 16px 0;
}
.text--baner2 .link2{
    border-radius: 5px;
background:#212529;
color: #FFF;
text-align: center;
align-items: center;
justify-content: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 25px */
text-decoration: none;
display: inline-flex;
padding: 12px 20px;
}
.dev{
    margin-bottom: 100px;
}
.dev .hama{
    display: flex;
align-items: flex-start;
justify-content: center;
gap: 47px;
margin-top: 45px;
}
.dev .imgggg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 19px;
}
.loplop{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 17px;
}
.dev .moton .sub-titleeee{
    color: var(--Color-Green-100, #74C69D);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;

/* Typography / Label / Bold */
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 125%; /* 20px */
letter-spacing: 5px;
text-transform: uppercase;
}
.dev .moton{
    display: flex;
flex-direction: column;
align-items: center;
}
.dev .moton .khoda{
    color: var(--Color-Dark-100, #212529);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;

/* Typography/Heading/Bold 1 */
font-family: Crimson Text;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 125%; /* 50px */
padding: 16px 0;
}
.dev .moton .praaaag{
    color: var(--Text_Black, #000);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
height: 60px;
width: 404px;
/* Typography/Sub-Heading/Regular */
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 25px */
}
.dev .devloper{


flex-shrink: 0;
border-radius: 5px;
background: #FFF;
box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
padding: 20px 25px;
}
.devloper .name-dev{
    color: var(--color-dark, #212529);
font-feature-settings: 'clig' off, 'liga' off;

/* Typography / Heading / Bold 4 */
font-family: Crimson Text;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 125%; /* 30px */
}
.devloper .shokolat{
    color: var(--Color-Dark-75, rgba(33, 37, 41, 0.75));
font-feature-settings: 'clig' off, 'liga' off;

/* Typography/Body/Regular */
font-family: Work Sans;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 18.75px */
width: 202px;
}
.linkkkkk{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}
.linkkkkk a{
    color: #FFF;
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;

/* Typography/Sub-Heading/Regular */
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 25px */
flex-shrink: 0;
border-radius: 5px;
background: var(--color-dark, #212529);
padding: 10px 32px;
text-decoration: none;
width: fit-content;
display: flex;
justify-content: center;
align-items: center;
}
.ese-tamam{
    width: 100%;
    height: 120px;
    background: #74C69D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}
.whatsub{
    display: flex;
    gap: 18px;
}
.ese-tamam .copy h2{
    color: var(--Color-White-100, #FFF);
text-align: right;
font-feature-settings: 'clig' off, 'liga' off;

/* Typography/Sub-Heading/Regular */
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 25px */
}